.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-image: url("../img/featured-image-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 26% top;
  background-size: auto 500px;
  background-color: var(--module-background);
  padding-top: 430px;
  color: white;
}
.featured:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.36)), color-stop(77.81%, rgba(0, 0, 0, 0.0828)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.0828) 77.81%);
}
.featured__container {
  width: 100%;
  padding-bottom: 34px;
}
.featured__logo {
  width: 100%;
  margin: 0 0 -115px 0;
  z-index: 1;
  /*
  background-image: url('../img/background-wave.png');
  background-position: right 40px;
  background-repeat: no-repeat;
  background-size: cover;
  */
}
.featured__logo figure {
  width: 270px;
  margin: 0 auto;
}
.featured__logo figure img {
  width: 100%;
  height: auto;
}
.featured__content {
  width: 100%;
  padding: 100px 18px 0;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-gradient-a)), to(var(--color-gradient-b)));
  background: linear-gradient(180deg, var(--color-gradient-a) 0%, var(--color-gradient-b) 100%);
}
.featured__main-title {
  font-size: 37px;
  line-height: 45px;
  padding-top: 18px;
}
.featured__content-data {
  font-size: 22px;
  line-height: 43px;
  padding: 30px 0;
}
.featured__button {
  padding: 23px 18px;
  font-size: 18px;
}
.featured__message {
  padding: 28px;
}
.featured__quote {
  font-family: var(--font-secondary);
  font-size: 32px;
  line-height: 43px;
}
.featured__sign {
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 16px;
  padding-top: 36px;
}

.module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.module__container {
  padding: 40px 18px;
}
.module__title {
  font-size: 30px;
  line-height: 43px;
}
.module__main-text {
  font-family: var(--font-text);
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
}
.module__text {
  font-family: var(--font-text);
  font-size: 17px;
  line-height: 26px;
}
.module__text a {
  color: var(--color-text);
  text-decoration: none;
  font-family: var(--font-text);
  border-bottom: 1px solid var(--black);
}
.module__subtitle {
  font-family: var(--font-text);
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  font-weight: bold;
}
.module__media figure {
  width: 100%;
}
.module__image {
  width: 100%;
  height: auto;
}
.module__item {
  padding: 30px 0 25px 0;
  border-bottom: 1px solid var(--gray);
}
.module__item ul {
  margin-top: 6px;
}
.module__item:last-of-type {
  border-bottom: none;
}
.module__item-title {
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}
.module__item-toggler {
  width: 46px;
  height: 33px;
  border: 1px solid #f1f1f1;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
  position: relative;
}
.module__item-toggler__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.module__item-toggler__icon svg {
  display: block;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.module__item-toggler__checkbox:checked + .module__item-toggler__icon svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.module__item-toggler:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
.module__item-content {
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  overflow: hidden;
  max-height: 1500px;
}
.module__item-content.collapse {
  max-height: 0;
}
.module__button {
  width: 270px;
  margin: 30px auto;
}
.module--dark {
  background-color: var(--black);
  color: white;
}
.module--dark .module__image {
  -webkit-filter: saturate(0);
          filter: saturate(0);
}
.module--white * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  left: 100%;
  -webkit-transition: left 0s 0.3s, visibility 0s 0.3s;
  transition: left 0s 0.3s, visibility 0s 0.3s;
}
.modal__overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  opacity: 0;
  border-radius: 14px;
  width: 310px;
  padding: 40px 25px 21px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  text-align: center;
}
.modal__title {
  font-size: 25px;
  margin-bottom: 30px;
}
.modal__menu {
  padding-bottom: 20px;
}
.modal__menu-item {
  margin-bottom: 8px;
  font-size: 18px;
}
.modal__close {
  font-family: var(--font-text);
  font-size: 15px;
  border: none;
  background: transparent;
  padding: 0;
  text-transform: none;
  cursor: pointer;
}
.modal.active {
  visibility: visible;
  left: 0;
  pointer-events: all;
}
.modal.active .modal__overlay {
  opacity: 1;
}
.modal.active .modal__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}